.abilitiesBar {
  display: flex;
  flex-direction: column;
}

/* .abilitiesBar > div {
 display: flex;
 flex-direction: row;
 background-color: lightgray;
} */

.columns {
  display: flex;
  flex-direction: row;
}

input {
  size: 5;
}
